.Logo {
  height: 16vmin;
  width: 16vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: var(--orange);
  background-color: rgba(0,0,0,0.5);
  color: var(--tan-1);
  font-size: 4vmin;
  border: .6vmin solid var(--tan-2); 
}