/* .container-fluid{
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
} 
.navbar .nav-link{
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
}
.navbar-brand{
  color: #fff;
} */